button {
    background-color: rgb(74, 144, 226);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
}

header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 30px;
}

body {
    margin: 0px;
    font-family:"Segoe UI";
}

main {
    padding:20px;
    max-width: 800px;
    margin: auto;
}
 footer {
    padding: 30px; 
    background-color: rgb(74, 144, 226);
    text-align: center;
    color: white;
}

